# TUGAS 3_06211640000093

## a. missing value

In [31]:
import pandas as pd
import numpy as np

In [32]:
data=pd.read_csv("carfuel.csv",sep=";")
data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas,Unnamed: 12
0,28,5.0,26.0,21.5,12.0,NaN,E10,0,0,0,45.0,E10,NaN
1,12,4.2,30.0,21.5,13.0,NaN,E10,0,0,0,NaN,NaN,NaN
2,11,2.0,5.5,38.0,21.5,15,NaN,E10,0,0,0.0,NaN,NaN
3,12,9.0,3.9,36.0,21.5,14,NaN,E10,0,0,0.0,NaN,NaN
4,18,5.0,4.5,46.0,21.5,15,NaN,E10,0,0,0.0,NaN,NaN

In [33]:
data.describe()

,distance,consume,speed,temp_inside,temp_outside,rain,sun,refill liters
count,388.000000,388.000000,388.000000,387.000000,377.000000,388.000000,388.000000,338.000000
mean,19.211340,5.035309,9.554897,39.671835,20.614058,0.079897,0.118557,0.334320
std,22.662943,2.537790,12.373839,14.700007,3.801979,0.271484,0.323684,3.239785
min,1.000000,1.000000,3.300000,14.000000,3.000000,0.000000,0.000000,0.000000
25%,11.000000,3.000000,4.500000,26.000000,21.500000,0.000000,0.000000,0.000000
50%,14.000000,4.350000,4.900000,38.000000,21.500000,0.000000,0.000000,0.000000
75%,19.000000,8.000000,5.700000,50.000000,22.000000,0.000000,0.000000,0.000000
max,216.000000,9.900000,80.000000,90.000000,25.500000,1.000000,1.000000,45.000000

In [34]:
np.sum(data.isnull())

distance           0
consume            0
speed              0
temp_inside        1
temp_outside      11
specials          43
gas_type         252
AC                 0
rain               0
sun                0
refill liters     50
refill gas       375
Unnamed: 12      377
dtype: int64

In [35]:
data['temp_inside']=data['temp_inside'].fillna(39.671835)
data['temp_outside']=data['temp_outside'].fillna(20.614058)
data['refill liters']=data['refill liters'].fillna(0.334320)
np.sum(data.isnull())

distance           0
consume            0
speed              0
temp_inside        0
temp_outside       0
specials          43
gas_type         252
AC                 0
rain               0
sun                0
refill liters      0
refill gas       375
Unnamed: 12      377
dtype: int64

In [36]:
from scipy.stats import mode
data['specials']=data['specials'].fillna(data['specials']).dropna().mode()[0]
data.isnull().sum()

distance           0
consume            0
speed              0
temp_inside        0
temp_outside       0
specials           0
gas_type         252
AC                 0
rain               0
sun                0
refill liters      0
refill gas       375
Unnamed: 12      377
dtype: int64

In [37]:
from scipy import stats
data1=data.drop(['gas_type','refill gas','Unnamed: 12'],1)
data1

,distance,consume,speed,temp_inside,temp_outside,specials,AC,rain,sun,refill liters
0,28,5.0,26.0,21.5,12.0,7,0,0,0,45.00000
1,12,4.2,30.0,21.5,13.0,7,0,0,0,0.33432
2,11,2.0,5.5,38.0,21.5,7,E10,0,0,0.00000
3,12,9.0,3.9,36.0,21.5,7,E10,0,0,0.00000
4,18,5.0,4.5,46.0,21.5,7,E10,0,0,0.00000
5,8,3.0,6.4,50.0,21.5,7,E10,0,0,0.00000
6,7,8.0,4.4,43.0,21.5,7,E10,0,0,0.00000
7,12,3.0,5.0,40.0,21.5,7,E10,0,0,0.00000
8,4,9.0,6.4,26.0,21.5,7,E10,0,0,0.00000
9,11,9.0,5.3,30.0,21.5,7,E10,0,0,0.00000
10,12,4.0,5.6,42.0,21.5,7,E10,0,0,0.00000
11,11,8.0,4.6,38.0,21.5,7,E10,0,0,0.00000
12,12,3.0,5.9,59.0,21.5,7,E10,0,0,0.00000
13,24,7.0,5.1,58.0,21.5,7,E10,0,0,0.00000
14,12,4.0,4.7,46.0,21.5,7,E10,0,0,0.00000
15,17,3.0,5.1,24.0,21.5,7,E10,0,0,0.00000
16,33,4.0,5.6,36.0,21.5,7,E10,0,0,0.00000
17,11,8.0,5.1,32.0,21.5,7,E10,0,0,0.00000
18,25,9.0,4.9,39.0,21.5,7,E10,0,0,0.00000
19,11,8.0,4.7,40.0,21.5,7,E10,0,0,0.00000
20,25,3.0,5.5,32.0,21.5,7,E10,0,0,0.00000
21,14,2.0,5.9,38.0,21.5,7,E10,0,0,0.00000
22,17,9.0,5.7,37.0,21.5,7,E10,0,0,0.00000
23,11,8.0,4.7,36.0,21.5,7,E10,0,0,0.00000
24,12,3.0,5.9,62.0,21.5,7,E10,0,0,0.00000
25,12,4.0,4.1,57.0,21.5,7,E10,0,0,0.00000
26,18,4.0,5.7,21.0,22.5,7,E10,0,0,0.00000
27,18,4.0,5.8,28.0,21.5,7,E10,0,0,0.00000
28,18,3.0,5.5,29.0,21.5,7,E10,0,0,0.00000
29,18,4.0,5.7,35.0,21.5,7,E10,0,0,0.00000
...,...,...,...,...,...,...,...,...,...,...
358,6,1.0,5.0,33.0,22.0,7,SP98,0,0,1.00000
359,17,3.0,4.2,36.0,22.0,7,SP98,0,0,0.00000
360,6,4.8,27.0,22.0,17.0,7,0,0,0,0.33432
361,16,4.1,45.0,22.0,15.0,7,0,0,0,0.33432
362,15,4.0,4.9,55.0,22.0,7,SP98,0,0,0.00000
363,15,4.0,4.3,39.0,22.0,7,SP98,0,0,0.00000
364,16,3.9,35.0,22.0,18.0,7,0,0,0,0.33432
365,15,4.0,4.5,52.0,22.0,7,SP98,0,0,0.00000
366,16,6.0,4.1,48.0,25.5,7,SP98,1,0,1.00000
367,15,4.0,5.0,48.0,25.5,7,SP98,1,0,0.00000
368,16,4.0,43.0,22.0,21.0,7,1,0,0,0.33432
369,15,4.0,4.5,42.0,22.0,7,SP98,0,0,0.00000
370,16,3.6,43.0,22.0,19.0,7,0,0,0,0.33432
371,20,9.0,4.1,33.0,22.0,7,SP98,0,0,0.00000
372,32,1.0,3.9,47.0,22.0,7,SP98,0,0,0.00000
373,15,3.0,6.6,16.0,24.0,7,SP98,1,0,0.00000
374,28,5.0,4.0,44.0,25.0,7,SP98,1,0,0.00000
375,11,9.0,3.7,33.0,25.0,7,SP98,0,0,0.00000
376,14,5.0,4.3,36.0,25.0,7,SP98,0,0,0.00000
377,16,6.0,4.1,49.0,22.0,7,SP98,0,0,1.00000
378,16,2.0,4.4,39.0,24.5,7,SP98,1,0,0.00000
379,16,7.0,3.8,44.0,24.5,7,SP98,0,0,1.00000
380,8,3.0,5.0,52.0,24.5,7,SP98,0,0,0.00000
381,5,5.0,3.7,33.0,24.5,7,SP98,0,0,1.00000
382,13,6.0,3.7,33.0,24.5,7,SP98,0,0,1.00000
383,16,3.7,39.0,24.5,18.0,7,0,0,0,0.33432
384,16,1.0,4.3,38.0,25.0,7,SP98,1,0,0.00000
385,16,3.8,45.0,25.0,19.0,7,0,0,0,0.33432
386,15,4.0,4.6,42.0,25.0,7,SP98,1,0,0.00000
387,14,7.0,5.0,25.0,25.0,7,SP98,1,0,0.00000

In [39]:
data1.to_csv('datamissingvalue1.csv')

## b. missing value, outlier

In [40]:
# missing value
data1.head()

,distance,consume,speed,temp_inside,temp_outside,specials,AC,rain,sun,refill liters
0,28,5.0,26.0,21.5,12.0,7,0,0,0,45.00000
1,12,4.2,30.0,21.5,13.0,7,0,0,0,0.33432
2,11,2.0,5.5,38.0,21.5,7,E10,0,0,0.00000
3,12,9.0,3.9,36.0,21.5,7,E10,0,0,0.00000
4,18,5.0,4.5,46.0,21.5,7,E10,0,0,0.00000

In [41]:
#oulier
from scipy import stats
data1=data.drop(['gas_type','refill gas','Unnamed: 12'],1)
z=np.abs(stats.zscore(data1._get_numeric_data()))
print(z)
dataout=data1[(z<3).all(axis=1)]
print(dataout.shape)

[[3.88299414e-01 1.39313610e-02 1.33073790e+00 ... 2.94677339e-01
  3.66746403e-01 1.47930820e+01]
 [3.18610487e-01 3.29573291e-01 1.65441793e+00 ... 2.94677339e-01
  3.66746403e-01 1.36575553e-07]
 [3.62792356e-01 1.19758860e+00 3.28122296e-01 ... 2.94677339e-01
  3.66746403e-01 1.10725215e-01]
 ...
 [1.41883012e-01 4.87394256e-01 2.86821807e+00 ... 2.94677339e-01
  3.66746403e-01 1.36575553e-07]
 [1.86064880e-01 4.08483774e-01 4.00950304e-01 ... 3.39354225e+00
  3.66746403e-01 1.10725215e-01]
 [2.30246749e-01 7.75173464e-01 3.68582300e-01 ... 3.39354225e+00
  3.66746403e-01 1.10725215e-01]]
(333, 10)

In [42]:
dataout.to_csv('dataoutlier1.csv')

## c. missing value, transformasi

In [43]:
# missing value
data1.head()

,distance,consume,speed,temp_inside,temp_outside,specials,AC,rain,sun,refill liters
0,28,5.0,26.0,21.5,12.0,7,0,0,0,45.00000
1,12,4.2,30.0,21.5,13.0,7,0,0,0,0.33432
2,11,2.0,5.5,38.0,21.5,7,E10,0,0,0.00000
3,12,9.0,3.9,36.0,21.5,7,E10,0,0,0.00000
4,18,5.0,4.5,46.0,21.5,7,E10,0,0,0.00000

In [44]:
x=data1.iloc[0:388,0:6]
x.tail()

     distance  consume  speed  temp_inside  temp_outside specials
383        16      3.7   39.0         24.5          18.0        7
384        16      1.0    4.3         38.0          25.0        7
385        16      3.8   45.0         25.0          19.0        7
386        15      4.0    4.6         42.0          25.0        7
387        14      7.0    5.0         25.0          25.0        7

In [45]:
#normalization
from sklearn.preprocessing import normalize
xnorm=normalize(x,norm='l2') #default norm L2, other are L1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

            0         1         2         3         4         5
383  0.304338  0.070378  0.741823  0.466017  0.342380  0.133148
384  0.327042  0.020440  0.087893  0.776726  0.511004  0.143081
385  0.277248  0.065847  0.779761  0.433201  0.329233  0.121296
386  0.288667  0.076978  0.088524  0.808266  0.481111  0.134711
387  0.353441  0.176720  0.126229  0.631144  0.631144  0.176720

In [46]:
#minmax
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(-5,1))
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled.tail()

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

            0         1         2         3         4    5
383 -4.581395 -3.179775 -2.207301 -4.171053 -1.000000 -5.0
384 -4.581395 -5.000000 -4.921773 -3.105263  0.866667 -5.0
385 -4.581395 -3.112360 -1.737940 -4.131579 -0.733333 -5.0
386 -4.609302 -2.977528 -4.898305 -2.789474  0.866667 -5.0
387 -4.637209 -0.955056 -4.867014 -4.131579  0.866667 -5.0

In [47]:
#softmax
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x),axis=0)
xsoft=softmax(xnorm)
xsoft=pd.DataFrame(xsoft)
print(xsoft)

            0         1         2         3         4         5
0    0.003399  0.002588  0.003637  0.001939  0.002193  0.002603
1    0.002474  0.002569  0.004254  0.002040  0.002311  0.002646
2    0.002357  0.002426  0.002337  0.002786  0.002702  0.002606
3    0.002419  0.002834  0.002260  0.002700  0.002722  0.002612
4    0.002578  0.002545  0.002251  0.002823  0.002506  0.002543
5    0.002141  0.002451  0.002325  0.002980  0.002486  0.002536
6    0.002135  0.002727  0.002264  0.002883  0.002603  0.002575
7    0.002384  0.002473  0.002301  0.002811  0.002652  0.002590
8    0.002071  0.002975  0.002472  0.002489  0.003055  0.002712
9    0.002434  0.002901  0.002363  0.002555  0.002877  0.002660
10   0.002363  0.002518  0.002321  0.002838  0.002609  0.002576
11   0.002351  0.002759  0.002289  0.002759  0.002687  0.002601
12   0.002234  0.002433  0.002271  0.003035  0.002360  0.002494
13   0.002651  0.002578  0.002236  0.002885  0.002329  0.002483
14   0.002327  0.002505  0.002265  0.002902  0.002539  0.002554
15   0.002917  0.002516  0.002375  0.002308  0.002999  0.002696
16   0.003409  0.002501  0.002299  0.002366  0.002515  0.002546
17   0.002414  0.002813  0.002342  0.002620  0.002831  0.002646
18   0.002986  0.002757  0.002276  0.002559  0.002548  0.002557
19   0.002332  0.002743  0.002286  0.002796  0.002645  0.002588
20   0.003162  0.002477  0.002331  0.002411  0.002676  0.002598
21   0.002502  0.002425  0.002352  0.002744  0.002679  0.002599
22   0.002648  0.002805  0.002336  0.002643  0.002654  0.002591
23   0.002371  0.002776  0.002302  0.002717  0.002732  0.002615
24   0.002217  0.002429  0.002263  0.003057  0.002328  0.002483
25   0.002247  0.002476  0.002213  0.003022  0.002384  0.002502
26   0.003018  0.002588  0.002418  0.002149  0.003109  0.002704
27   0.002883  0.002562  0.002389  0.002418  0.002864  0.002656
28   0.002865  0.002498  0.002368  0.002454  0.002844  0.002650
29   0.002746  0.002535  0.002347  0.002611  0.002703  0.002606
..        ...       ...       ...       ...       ...       ...
358  0.002148  0.002380  0.002342  0.002723  0.002893  0.002654
359  0.002678  0.002479  0.002270  0.002651  0.002721  0.002603
360  0.002155  0.002618  0.004063  0.002108  0.002585  0.002664
361  0.002478  0.002502  0.004679  0.001814  0.002220  0.002540
362  0.002365  0.002478  0.002244  0.002966  0.002415  0.002506
363  0.002534  0.002525  0.002267  0.002741  0.002674  0.002588
364  0.002580  0.002518  0.004265  0.001918  0.002452  0.002585
365  0.002391  0.002486  0.002237  0.002935  0.002455  0.002519
366  0.002450  0.002578  0.002226  0.002806  0.002636  0.002527
367  0.002412  0.002491  0.002263  0.002821  0.002643  0.002529
368  0.002474  0.002496  0.004491  0.001809  0.002468  0.002538
369  0.002496  0.002514  0.002266  0.002795  0.002614  0.002570
370  0.002483  0.002481  0.004538  0.001819  0.002392  0.002542
371  0.002865  0.002825  0.002266  0.002495  0.002729  0.002605
372  0.003122  0.002361  0.002209  0.002616  0.002420  0.002507
373  0.002883  0.002537  0.002517  0.001950  0.003425  0.002749
374  0.002992  0.002530  0.002220  0.002581  0.002592  0.002522
375  0.002376  0.002844  0.002253  0.002559  0.002969  0.002619
376  0.002499  0.002584  0.002272  0.002621  0.002880  0.002597
377  0.002457  0.002581  0.002228  0.002881  0.002490  0.002530
378  0.002564  0.002419  0.002266  0.002679  0.002776  0.002578
379  0.002497  0.002645  0.002225  0.002757  0.002666  0.002548
380  0.002126  0.002445  0.002257  0.002953  0.002568  0.002521
381  0.002087  0.002614  0.002262  0.002651  0.003014  0.002639
382  0.002489  0.002661  0.002254  0.002569  0.002944  0.002621
383  0.002515  0.002492  0.004353  0.001942  0.002383  0.002556
384  0.002573  0.002371  0.002264  0.002649  0.002821  0.002582
385  0.002448  0.002481  0.004521  0.001879  0.002352  0.002526
386  0.002476  0.002509  0.002265  0.002734  0.002738  0.002560
387  0.002642  0.002772  0.002352  0.002290  0.003181  0.002670

[388 rows x 6 columns]

In [48]:
xsoft.to_csv('datatransformasi1.csv')

## d. missing value, outlier, transformasi

In [49]:
# missing value
data1.head()

,distance,consume,speed,temp_inside,temp_outside,specials,AC,rain,sun,refill liters
0,28,5.0,26.0,21.5,12.0,7,0,0,0,45.00000
1,12,4.2,30.0,21.5,13.0,7,0,0,0,0.33432
2,11,2.0,5.5,38.0,21.5,7,E10,0,0,0.00000
3,12,9.0,3.9,36.0,21.5,7,E10,0,0,0.00000
4,18,5.0,4.5,46.0,21.5,7,E10,0,0,0.00000

In [50]:
# outlier
dataout.head()

,distance,consume,speed,temp_inside,temp_outside,specials,AC,rain,sun,refill liters
1,12,4.2,30.0,21.5,13.0,7,0,0,0,0.33432
2,11,2.0,5.5,38.0,21.5,7,E10,0,0,0.00000
3,12,9.0,3.9,36.0,21.5,7,E10,0,0,0.00000
4,18,5.0,4.5,46.0,21.5,7,E10,0,0,0.00000
5,8,3.0,6.4,50.0,21.5,7,E10,0,0,0.00000

In [51]:
xx=dataout.iloc[0:388,0:6]
xx.tail()

     distance  consume  speed  temp_inside  temp_outside specials
380         8      3.0    5.0         52.0          24.5        7
381         5      5.0    3.7         33.0          24.5        7
382        13      6.0    3.7         33.0          24.5        7
383        16      3.7   39.0         24.5          18.0        7
385        16      3.8   45.0         25.0          19.0        7

In [52]:
#normalization
from sklearn.preprocessing import normalize
xxnorm=normalize(xx,norm='l2') #default norm L2, other are L1 and max
xxnorm=pd.DataFrame(xnorm)
xxnorm.tail()

            0         1         2         3         4         5
383  0.304338  0.070378  0.741823  0.466017  0.342380  0.133148
384  0.327042  0.020440  0.087893  0.776726  0.511004  0.143081
385  0.277248  0.065847  0.779761  0.433201  0.329233  0.121296
386  0.288667  0.076978  0.088524  0.808266  0.481111  0.134711
387  0.353441  0.176720  0.126229  0.631144  0.631144  0.176720

In [53]:
#minmax
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(-5,1))
scaler.fit(xx)
xx_scaled=scaler.transform(xx)
xx_scaled=pd.DataFrame(xx_scaled)
xx_scaled.tail()

C:\Users\USER\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

         0      1         2         3    4    5
328 -4.475 -3.500 -4.761124 -1.647059  0.8 -5.0
329 -4.700 -2.000 -4.943794 -3.323529  0.8 -5.0
330 -4.100 -1.250 -4.943794 -3.323529  0.8 -5.0
331 -3.875 -2.975  0.016393 -4.073529 -1.8 -5.0
332 -3.875 -2.900  0.859485 -4.029412 -1.4 -5.0

In [54]:
#softmax
def softmax(xx):
    return np.exp(xx)/np.sum(np.exp(xx),axis=0)
xxsoft=softmax(xxnorm)
xxsoft=pd.DataFrame(xxsoft)
print(xxsoft)

            0         1         2         3         4         5
0    0.003399  0.002588  0.003637  0.001939  0.002193  0.002603
1    0.002474  0.002569  0.004254  0.002040  0.002311  0.002646
2    0.002357  0.002426  0.002337  0.002786  0.002702  0.002606
3    0.002419  0.002834  0.002260  0.002700  0.002722  0.002612
4    0.002578  0.002545  0.002251  0.002823  0.002506  0.002543
5    0.002141  0.002451  0.002325  0.002980  0.002486  0.002536
6    0.002135  0.002727  0.002264  0.002883  0.002603  0.002575
7    0.002384  0.002473  0.002301  0.002811  0.002652  0.002590
8    0.002071  0.002975  0.002472  0.002489  0.003055  0.002712
9    0.002434  0.002901  0.002363  0.002555  0.002877  0.002660
10   0.002363  0.002518  0.002321  0.002838  0.002609  0.002576
11   0.002351  0.002759  0.002289  0.002759  0.002687  0.002601
12   0.002234  0.002433  0.002271  0.003035  0.002360  0.002494
13   0.002651  0.002578  0.002236  0.002885  0.002329  0.002483
14   0.002327  0.002505  0.002265  0.002902  0.002539  0.002554
15   0.002917  0.002516  0.002375  0.002308  0.002999  0.002696
16   0.003409  0.002501  0.002299  0.002366  0.002515  0.002546
17   0.002414  0.002813  0.002342  0.002620  0.002831  0.002646
18   0.002986  0.002757  0.002276  0.002559  0.002548  0.002557
19   0.002332  0.002743  0.002286  0.002796  0.002645  0.002588
20   0.003162  0.002477  0.002331  0.002411  0.002676  0.002598
21   0.002502  0.002425  0.002352  0.002744  0.002679  0.002599
22   0.002648  0.002805  0.002336  0.002643  0.002654  0.002591
23   0.002371  0.002776  0.002302  0.002717  0.002732  0.002615
24   0.002217  0.002429  0.002263  0.003057  0.002328  0.002483
25   0.002247  0.002476  0.002213  0.003022  0.002384  0.002502
26   0.003018  0.002588  0.002418  0.002149  0.003109  0.002704
27   0.002883  0.002562  0.002389  0.002418  0.002864  0.002656
28   0.002865  0.002498  0.002368  0.002454  0.002844  0.002650
29   0.002746  0.002535  0.002347  0.002611  0.002703  0.002606
..        ...       ...       ...       ...       ...       ...
358  0.002148  0.002380  0.002342  0.002723  0.002893  0.002654
359  0.002678  0.002479  0.002270  0.002651  0.002721  0.002603
360  0.002155  0.002618  0.004063  0.002108  0.002585  0.002664
361  0.002478  0.002502  0.004679  0.001814  0.002220  0.002540
362  0.002365  0.002478  0.002244  0.002966  0.002415  0.002506
363  0.002534  0.002525  0.002267  0.002741  0.002674  0.002588
364  0.002580  0.002518  0.004265  0.001918  0.002452  0.002585
365  0.002391  0.002486  0.002237  0.002935  0.002455  0.002519
366  0.002450  0.002578  0.002226  0.002806  0.002636  0.002527
367  0.002412  0.002491  0.002263  0.002821  0.002643  0.002529
368  0.002474  0.002496  0.004491  0.001809  0.002468  0.002538
369  0.002496  0.002514  0.002266  0.002795  0.002614  0.002570
370  0.002483  0.002481  0.004538  0.001819  0.002392  0.002542
371  0.002865  0.002825  0.002266  0.002495  0.002729  0.002605
372  0.003122  0.002361  0.002209  0.002616  0.002420  0.002507
373  0.002883  0.002537  0.002517  0.001950  0.003425  0.002749
374  0.002992  0.002530  0.002220  0.002581  0.002592  0.002522
375  0.002376  0.002844  0.002253  0.002559  0.002969  0.002619
376  0.002499  0.002584  0.002272  0.002621  0.002880  0.002597
377  0.002457  0.002581  0.002228  0.002881  0.002490  0.002530
378  0.002564  0.002419  0.002266  0.002679  0.002776  0.002578
379  0.002497  0.002645  0.002225  0.002757  0.002666  0.002548
380  0.002126  0.002445  0.002257  0.002953  0.002568  0.002521
381  0.002087  0.002614  0.002262  0.002651  0.003014  0.002639
382  0.002489  0.002661  0.002254  0.002569  0.002944  0.002621
383  0.002515  0.002492  0.004353  0.001942  0.002383  0.002556
384  0.002573  0.002371  0.002264  0.002649  0.002821  0.002582
385  0.002448  0.002481  0.004521  0.001879  0.002352  0.002526
386  0.002476  0.002509  0.002265  0.002734  0.002738  0.002560
387  0.002642  0.002772  0.002352  0.002290  0.003181  0.002670

[388 rows x 6 columns]

In [55]:
xxsoft.to_csv('datacampur1.csv')

## sumber : https://www.kaggle.com/anderas/car-consume