## Tugas 1

In [1]:
### data integration
import pandas as pd
import numpy as np

In [9]:
data1=pd.read_csv("3.csv",sep=";")
data2=pd.read_csv("4.csv",sep=";")
data1

           time station AMB_TEMP  CH4    CO
0    01/01/2015    0:00  Banqiao   16  2:01
1    01/01/2015    1:00  Banqiao   16  2:01
2    01/01/2015    2:00  Banqiao   16  2:01
3    01/01/2015    3:00  Banqiao   15     2
4    01/01/2015    4:00  Banqiao   15     2
5    01/01/2015    5:00  Banqiao   14     2
6    01/01/2015    6:00  Banqiao   14     2
7    01/01/2015    7:00  Banqiao   14     2
8    01/01/2015    8:00  Banqiao   14     2
9    01/01/2015    9:00  Banqiao   14     2
10   01/01/2015   10:00  Banqiao   15     2
11   01/01/2015   11:00  Banqiao   14     2
12   01/01/2015   12:00  Banqiao   15     2
13   01/01/2015   13:00  Banqiao   14     2
14   01/01/2015   14:00  Banqiao   14     2
15   01/01/2015   15:00  Banqiao   13     2
16   01/01/2015   16:00  Banqiao   13     2
17   01/01/2015   17:00  Banqiao   13     2
18   01/01/2015   18:00  Banqiao   13     2
19   01/01/2015   19:00  Banqiao   13     2
20   01/01/2015   20:00  Banqiao   13     2
21   01/01/2015   21:00  Banqiao   13     2
22   01/01/2015   22:00  Banqiao   13     2
23   01/01/2015   23:00  Banqiao   13     2
24   02/01/2015    0:00  Banqiao   13     2
25   02/01/2015    1:00  Banqiao   13     2
26   02/01/2015    2:00  Banqiao   13     2
27   02/01/2015    3:00  Banqiao   13     2
28   02/01/2015    4:00  Banqiao   13     2
29   02/01/2015    5:00  Banqiao   13     2
..          ...     ...      ...  ...   ...
119  05/01/2015   23:00  Banqiao   18  2:05
120  06/01/2015    0:00  Banqiao   17  2:04
121  06/01/2015    1:00  Banqiao   17  2:03
122  06/01/2015    2:00  Banqiao   17  2:04
123  06/01/2015    3:00  Banqiao   17  2:04
124  06/01/2015    4:00  Banqiao   18  2:05
125  06/01/2015    5:00  Banqiao   18  2:06
126  06/01/2015    6:00  Banqiao   18  2:08
127  06/01/2015    7:00  Banqiao   18     3
128  06/01/2015    8:00  Banqiao   19  3:03
129  06/01/2015    9:00  Banqiao   21  2:04
130  06/01/2015   10:00  Banqiao   23     2
131  06/01/2015   11:00  Banqiao   23  2:01
132  06/01/2015   12:00  Banqiao   24     2
133  06/01/2015   13:00  Banqiao   24     2
134  06/01/2015   14:00  Banqiao   23  1:09
135  06/01/2015   15:00  Banqiao   22  1:09
136  06/01/2015   16:00  Banqiao   20     2
137  06/01/2015   17:00  Banqiao   19  2:01
138  06/01/2015   18:00  Banqiao   19  2:01
139  06/01/2015   19:00  Banqiao   19  2:01
140  06/01/2015   20:00  Banqiao   19     2
141  06/01/2015   21:00  Banqiao   18     2
142  06/01/2015   22:00  Banqiao   18     2
143  06/01/2015   23:00  Banqiao   18     2
144  07/01/2015    0:00  Banqiao   18     2
145  07/01/2015    1:00  Banqiao   18     2
146  07/01/2015    2:00  Banqiao   18     2
147  07/01/2015    3:00  Banqiao   18     2
148  07/01/2015    4:00  Banqiao   17     2

[149 rows x 5 columns]

In [10]:
data_complate=pd.merge(data1,data2,on='station')
data_complate.head()

,time,station,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,...,RAIN_COND,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,Unnamed: 19
0,01/01/2015,0:00,Banqiao,16,2:01,"0,054861111",0:14,1:02,16,17,...,NR,NR,57,12,2:02,0,69,69,4:07,4:02
1,01/01/2015,0:00,Banqiao,16,2:01,0:03,0:09,1,9:08,11,...,NR,NR,58,1:06,2:01,0,70,72,2:03,1:07
2,01/01/2015,0:00,Banqiao,16,2:01,0:33,0:11,1:02,12,14,...,NR,NR,59,1:03,2:01,0,84,87,1:07,1:04
3,01/01/2015,0:00,Banqiao,16,2:01,1:04,0:54,32,29,61,...,NR,NR,79,4:07,2:07,0,246,246,0:08,1
4,01/01/2015,0:00,Banqiao,16,2:01,1:07,0:47,18,28,46,...,NR,NR,80,2:01,2:08,0,206,247,0:08,0:05

In [11]:
data_complate.head(10)

,time,station,AMB_TEMP,CH4,CO,NMHC,NO,NO2,NOx,O3,...,RAIN_COND,RH,SO2,THC,UVB,WD_HR,WIND_DIREC,WIND_SPEED,WS_HR,Unnamed: 19
0,01/01/2015,0:00,Banqiao,16,2:01,"0,054861111",0:14,1:02,16,17,...,NR,NR,57,12,2:02,0,69,69,4:07,4:02
1,01/01/2015,0:00,Banqiao,16,2:01,0:03,0:09,1,9:08,11,...,NR,NR,58,1:06,2:01,0,70,72,2:03,1:07
2,01/01/2015,0:00,Banqiao,16,2:01,0:33,0:11,1:02,12,14,...,NR,NR,59,1:03,2:01,0,84,87,1:07,1:04
3,01/01/2015,0:00,Banqiao,16,2:01,1:04,0:54,32,29,61,...,NR,NR,79,4:07,2:07,0,246,246,0:08,1
4,01/01/2015,0:00,Banqiao,16,2:01,1:07,0:47,18,28,46,...,NR,NR,80,2:01,2:08,0,206,247,0:08,0:05
5,01/01/2015,0:00,Banqiao,16,2:01,"0,097916667",1:14,67,34,101,...,NR,NR,84,9:05,3:05,0,238,239,0:09,0:08
6,01/01/2015,0:00,Banqiao,16,2:01,0:06,0:01,1:01,12,13,...,NR,NR,85,2:05,2:01,0,68,66,3:03,2:05
7,02/01/2015,0:00,Banqiao,13,2,"0,054861111",0:14,1:02,16,17,...,NR,NR,57,12,2:02,0,69,69,4:07,4:02
8,02/01/2015,0:00,Banqiao,13,2,0:03,0:09,1,9:08,11,...,NR,NR,58,1:06,2:01,0,70,72,2:03,1:07
9,02/01/2015,0:00,Banqiao,13,2,0:33,0:11,1:02,12,14,...,NR,NR,59,1:03,2:01,0,84,87,1:07,1:04

## Sumber tugas : https://www.kaggle.com/nelsonchu/air-quality-in-northern-taiwan